
body {
    font-family: Arial, sans-serif;
    background-color:wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}


h1 {
    color: #333;
    margin-bottom: 20px;
}


#taskInput {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}


#addTaskBtn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addTaskBtn:hover {
    background-color: #3949ab;
}


#taskList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 300px;
}


#taskList li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}


#taskList li button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #e57373;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

#taskList li button:hover {
    background-color: #d32f2f;
}


.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
